<div class="row">
	<button class="btn btn-primary waves-effect waves-light pull-left" ng-click="param.parameter(this)">Add</button>
	<div class="col-lg-5 col-md-9 col-sm-10 col-xs-9">
		  <div class="input-group input-group-md">
			<select class="form-control"></select>
				<span class="input-group-btn">
				  <button type="button" class="waves-effect waves-light btn btn-primary">Go!</button>
				</span>				
		  </div>
		</div>
	</div>
<hr>
	<div class="panel-body">
		<table id="parameterList" class="table table-striped m-0">
		  <thead>
			<tr>
					  <th>No.</th>
					  <th>Sector Description</th>
					  <th>Parameter Description</th>
					  <th>&nbsp;</th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="parameter in parameters">
			  <td>{{parameter.parameter_id}}</td>
			  <td>{{parameter.sector_description}}</td>
			  <td>{{parameter.parameter_name}}</td>
			  <td>
			  <button class="btn btn-sm btn-default" style="margin-right: 5px;" ng-click="param.parameter(this,parameter)"><i class="fa fa-search" style="cursor: pointer;"></i></button>
			  <button class="btn btn-sm btn-default" ng-click="param.delete(this,parameter)"><i class="fa fa-close" style="cursor: pointer;"></i></button>
			  </td>
			</tr>
		  </tbody>
		</table>
	</div>
