<div class="row">
<button class="btn btn-primary pull-right" ng-click="param.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card-box">
			<form name="formHolder.parameter" id="formHolder.parameter">
			<div class="row">
				<div class="col-lg-5 col-md-9 col-sm-12 form-group" ng-class="{'has-error': formHolder.parameter.parameter_no.$touched && formHolder.parameter.parameter_no.$invalid}">
					<label class="label-control">Sector Description</label>
					<select class="form-control" name="parameter_no" ng-model="parameter.parameter_no" ng-options="sec.sector_description for sec in sectors_add track by sec.sector_id" required ng-disabled="controls.ok.btn"></select>					
					<span class="help-block" ng-show="formHolder.parameter.parameter_no.$touched && formHolder.parameter.parameter_no.$invalid">Sector Description is required</span>
				</div>
				<div class="col-lg-5 col-md-9 col-sm-12 form-group" ng-class="{'has-error': formHolder.parameter.parameter_name.$touched && formHolder.parameter.parameter_name.$invalid}">
					<label class="label-control">Parameter Description</label>
					<input type="text" class="form-control" name="parameter_name" ng-model="parameter.parameter_name" required ng-disabled="controls.ok.btn">
					<span class="help-block" ng-show="formHolder.parameter.parameter_name.$touched && formHolder.parameter.parameter_name.$invalid">Parameter Description is required</span>
				</div>
				<div class="col-lg-2 col-md-9 col-sm-12 form-group" ng-class="{'has-error': formHolder.parameter.parameter_short_name.$touched && formHolder.parameter.parameter_short_name.$invalid}">
					<label class="label-control">Short Name</label>
					<input type="text" class="form-control" name="parameter_short_name" ng-model="parameter.parameter_short_name" required ng-disabled="controls.ok.btn">
					<span class="help-block" ng-show="formHolder.parameter.parameter_short_name.$touched && formHolder.parameter.parameter_short_name.$invalid">Name is required</span>
				</div>
			</div>
				<div class="form-group text-left m-b-0">
					<button class="btn btn-primary waves-effect waves-light" type="submit" ng-click="param.list(this)" ng-disabled="controls.cancel.btn">{{controls.cancel.label}}</button>
					<button class="btn btn-default waves-effect waves-light m-l-5" ng-click="param.save(this)" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
