<div class="panel panel-border panel-primary">
	<div class="panel-heading">
		<button class="btn btn-primary pull-right" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
	</div>
<br><hr>
<div class="row">
	<div class="col-lg-12">
		<div class="card-box">
			<form name="formHolder.student_info" id="formHolder.student_info">
			<div class="row">
			<div class="col-sm-4">
				<img src="pictures/avatar.png" alt="image" id="front_picture" class="img-responsive img-rounded" width="100"/>
				<button class="btn btn-primary" ng-click="snapshot.start(this,'front')">Add</button>
			</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 form-group" ng-class="{'has-error': formHolder.student_info.student_firstname.$touched && formHolder.student_info.student_firstname.$invalid}">
					<label class="label-control">First Name</label>
					<input type="text" class="form-control" name="student_firstname" ng-model="student_info.student_firstname" required ng-disabled="controls.ok.btn">
					<span class="help-block" ng-show="formHolder.student_info.student_firstname.$touched && formHolder.student_info.student_firstname.$invalid">First Name is required</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 form-group" ng-class="{'has-error': formHolder.student_info.student_middlename.$touched && formHolder.student_info.student_middlename.$invalid}">
					<label class="label-control">Middle Name</label>
					<input type="text" class="form-control" name="student_middlename" ng-model="student_info.student_middlename" required ng-disabled="controls.ok.btn">
					<span class="help-block" ng-show="formHolder.student_info.student_middlename.$touched && formHolder.student_info.student_middlename.$invalid">Middle Name is required</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 form-group" ng-class="{'has-error': formHolder.student_info.student_lastname.$touched && formHolder.student_info.student_lastname.$invalid}">
					<label class="label-control">Last Name</label>
					<input type="text" class="form-control" name="student_lastname" ng-model="student_info.student_lastname" required ng-disabled="controls.ok.btn">
					<span class="help-block" ng-show="formHolder.student_info.student_lastname.$touched && formHolder.student_info.student_lastname.$invalid">Last Name is required</span>
				</div>
			</div>
			<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 form-group" ng-class="{'has-error': formHolder.student_info.student_address.$touched && formHolder.student_info.student_address.$invalid}">
					<label class="label-control">Address</label>
					<input type="text" class="form-control" name="student_address" ng-model="student_info.student_address" required ng-disabled="controls.ok.btn">
					<span class="help-block" ng-show="formHolder.student_info.student_address.$touched && formHolder.student_info.student_address.$invalid">Address is required</span>
				</div>
			</div>
			<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 form-group" ng-class="{'has-error': formHolder.student_info.student_contact.$touched && formHolder.student_info.student_contact.$invalid}">
					<label class="label-control">Contact Number</label>
					<input type="text" class="form-control" name="student_contact" ng-model="student_info.student_contact" required ng-disabled="controls.ok.btn">
					<span class="help-block" ng-show="formHolder.student_info.student_contact.$touched && formHolder.student_info.student_contact.$invalid">Contact Number is required</span>
				</div>
				
				<div class="col-lg-6 col-md-6 col-sm-6 form-group" ng-class="{'has-error': formHolder.student_info.student_grade.$touched && formHolder.student_info.student_grade.$invalid}">
					<label class="label-control">Grade</label>
					<input type="text" class="form-control" name="student_grade" ng-model="student_info.student_grade" required ng-disabled="controls.ok.btn">
					<span class="help-block" ng-show="formHolder.student_info.student_grade.$touched && formHolder.student_info.student_grade.$invalid">Grade is required</span>
				</div>
			</div>
				<div class="form-group text-left m-b-0">
					<button class="btn btn-primary waves-effect waves-light" type="submit" ng-click="form.list(this)" ng-disabled="controls.cancel.btn">{{controls.cancel.label}}</button>
					<button class="btn btn-default waves-effect waves-light m-l-5" ng-click="form.save(this)" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
